@import "../../node_modules/bulma/bulma.sass";


.data-container{
  width:100%;
}

.data{
  float: left;
  width: 200px;
  height:200px;
  background-color:white;
  margin:5px;
}

nav.navbar{
  background-color:black;
  width:100%;
  min-height: 40px;
  // margin-top:50px;
}

h3.test{
  color: white;
}



// flex

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: white;
  border: 1px double lightgray;
  font-size: 12px;
  border-radius:3px;
  padding: 5px;
  width: 300px;
  height: 150px;
  color: black;
  margin:3px;
}